body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    height: 300px;
    width: 300px;
    background-color: pink;
    color: red;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}